<div class="fondo">

    <app-cabecera>  </app-cabecera>
    
    
    <div class="container" >
  
        <img src="./assets/imagenes/dragonblack.gif" class="imgDragon">
  
        <ul class="list-group">
            <li class="list-group-item" style="width: 100%">          
                <div class="media-body">
                    <div class="hero-text">
                        <h3>Menú Principal</h3>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item list-group-item-success">
                <a routerLink="/Juegos">
                    <div class="media colorGame">
                    <div class="media-left">
                            <img src="./assets/imagenes/game.png" class="media-object imagenDeMenu" >
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading colorGame">Juegos</h4>              
                    </div>
                    
                    </div> 
                </a>
            </li>
    
            <li class="list-group-item list-group-item-info">
                <a routerLink="/Resultados">
                    <div class="media colorRed"> 
        
                        <div class="media-left">
                            <img src="./assets/imagenes/list.png" class="media-object imagenDeMenu" >
                            </div>
                        <div class="media-body">
                        <h4 class="media-heading colorRed">Listados de resultados</h4>
                        </div>
                    </div> 
                </a>
            </li>
    
            <li class="list-group-item list-group-item-warning">
                <a routerLink="/Encuesta">
                    <div class="media colorBlue">
                        <div class="media-left">
                            <img src="./assets/imagenes/person.png" class="media-object imagenDeMenu" >
                        </div>
                    <div class="media-body">
                        <h4 class="media-heading colorBlue">Encuesta</h4>
                    </div>
                    
                    </div> 
                </a>
            </li>
            
            <!-- <li class="list-group-item list-group-item-warning">
                <a routerLink="/Juegos">
                    <div class="media colorGreen">
                        <div class="media-left">
                            <img src="./assets/imagenes/conf2.png" class="media-object imagenDeMenu" >
                            </div>
                        <div class="media-body">
                        <h4 class="media-heading colorGreen">Configuraci&oacute;n</h4>
                        
                        </div>
                        
                    </div> 
                </a>
            </li> -->
            
        </ul>
    </div>
    <app-chat></app-chat>
    
  </div>

  