<div class="total">
    <div class="container" >    
      <div class="card ppt">
          <img class="img-thumbnail" src="./assets/imagenes/ppt-portada.jpg" alt="Avatar" style="width:100%">
          <h1>Piedra Papel o Tijera</h1>
          <p class="title">Juega contra la máquina</p>
          <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
       </div>
  
      <div class="card inteligencia">
          <img class="img-thumbnail"   src="./assets/imagenes/inteligencia.jpg" alt="Avatar" style="width:100%">
          <h1>TA TE TI</h1>
          <p class="title">Juego de agilidad mental</p>
          <p>           <button class="button"  (click)="Juego('Tateti')">Jugar</button></p>    
      </div>
  
        <div class="card adivina">
          <img  class="img-thumbnail"  src="./assets/imagenes/adivina.jpg" alt="Avatar" style="width:100%">
          <h1>Memotest</h1>
          <p class="title">Juego de estrategia</p>
          <p>           <button class="button"  (click)="Juego('Memotest')">Jugar</button></p>
        </div>
  
        <div class="card dragon">
              <img  class="img-thumbnail"  src="./assets/imagenes/dragonblue.gif" alt="Avatar" style="width:100%">
              <h1>El secreto del Dragon</h1>
              <p class="title">Juego de busqueda</p>
              <p>           <button class="button"  (click)="Juego('Dragon')">Jugar</button></p>
          </div>
      </div>
    
    <footer class="text-center footer-style">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-col">
                    <h6>Dirección</h6>
                    <p>
                        Buenos Aires, Argentina. <br />
                        Av. Mitre 750, Avellaneda.
                    </p>
                </div>
                <div class="col-md-3 footer-col">
                    <h6>UTNFRA. <br> Redes</h6>
                    <ul class="list-inline">
                        <li>
                            <a  target="_blank" href="https://www.facebook.com/codeUtnFra" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a  target="_blank" href="https://twitter.com/codeUtnFra" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                                <a  target="_blank" href="https://www.instagram.com/codeutnfra/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        <li>
                            <a  target="_blank" href="https://github.com/codeutnfra" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-6 footer-col">
                    <h6>Tecnicatura en programacion.</h6>
                    <p>Trabajo practico para Laboratorio de Computacion 4. <br>Alumno: Gomez Nicolas </p>
                </div>
            </div>
        </div>
    </footer>
</div>