<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" >TP Gomez Nicolas</a>
      
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Juegos/">Menu de Juegos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Juegos
            </a>
            <div class="dropdown-menu fondo" aria-labelledby="navbarDropdown">
              <a class="dropdown-item colortexto" href="Juegos/PPT">PPT</a>
              <a class="dropdown-item" href="Juegos/Tateti">TATETI</a>              
              <a class="dropdown-item" href="Juegos/Memotest">MEMOTEST</a>
              <a class="dropdown-item" href="Juegos/Dragon">DRAGON</a>
            </div>
          </li>          
        </ul>       
      </div>
    </nav>
  </header>